@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
 
body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
	color: #fff;
	background-color: darkgoldenrod;
}
::-moz-selection {
	color: #fff;
	background-color: darkgoldenrod ;
}
.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	box-shadow: 0 10px 30px 0 rgb(33,33,33,0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgb(33,33,33,0.15);
	padding: 5px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 28px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 52px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color:  darkgoldenrod !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color:  darkgoldenrod;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}
 
.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}


.over-hide {
    overflow: hidden;
}

 
body.hero-anime p{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1700ms;
}
#switch,
#circle {
	cursor: pointer;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 
#switch {
	width: 72px;
	height: 28px;
	border: 2px solid black;
	border-radius: 27px;
	background:  darkgoldenrod;
	position: relative;
	display: block;
	margin: -9px auto;
	text-align: center;
	opacity: 1;
}
body.hero-anime #switch{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1900ms;
}
#circle {
	position: absolute;
	width: 26px;
	height: 25px;
	border-radius: 50%;
	background:#000;
}
.switched {
	border-color:white !important;
	background:  darkgoldenrod !important;
}
.switched #circle {
	left: 43px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: #fff;
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgb(33,33,33,0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}
 
.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color:  darkgoldenrod;
}
 
body.dark{
	color: #fff;
	background-color: #1f2029;
}
body.dark h1{
	color: #fff;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
	color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #14151a !important;
}
body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
	color: #fff !important;
}
body.dark .nav-item.active .nav-link{
	color: #999 !important;
}
body.dark .dropdown-menu {
	color: #fff;
	background-color: #1f2029;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
	border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after, 
body.dark .navbar-light .navbar-toggler-icon:before{
	background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
body.dark .container-1{
	background-color: rgb(80, 41, 117);
}
 body.dark h1{
	 color: rgb(241, 210, 163)
 }
 body.dark .content-3{
	 background-color: black;
 }
 body.dark h3{
	 color:darkgoldenrod;
 }
 
@media (max-width: 600px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}
	.content img{
		margin-top: 0px;
	}
}

.section {
    position: relative;
	width: auto;
	display: block;
	height: 100%;

	margin-top: 93px;
}
.container-1{
	display: flex;
	height: auto;
	position: relative;
	width: 100%;
	background-color: cadetblue;
    flex-wrap: wrap;
	justify-content: space-around;
}
.content{
	margin-top: 30px;
	height: auto;
	width: 400px;
}
h2{
	padding: 10px;
	background-color: darkgoldenrod;
	display: inline;
	border-radius: 20px 20px 20px 0px;
	font-size:20px;
	line-height: 40px;
}
h1{
	font-size:50px;
	line-height: 60px;
}
p{
	font-size:20px;
	line-height: 40px;
}
h5{
	line-height: 20px;
}
.content img{
	border-radius: 50%;
	height: 400px;
	width: 100%;
	margin-top: 20px;
	
	/*margin-bottom: -300px;*/
}

.content li {
	display: inline-block;
	margin-bottom: 30px;

  }
  
  .social-icon{
	width: 40px;
	height: 40px;
	display: inline-block;
	text-decoration: none;
	border-radius: 100%;
	margin-right: 20px;
	margin-top: 20px;
	
	/*margin-bottom: -130px;*/
	filter:grayscale(100);
  }
  .social-icon:hover {
	filter: grayscale(0);
  } 
  
  .svg-instagram {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-decoration: none;
	border-radius: 100%;
  }
  .container-2{
	display: flex;
	height: auto;
	width: auto;
    flex-wrap: wrap;
	justify-content: space-around;
}
.content-2{
	margin-top: 100px;
	height: auto;
	width: 500px;
	
   
}
.content-2 img{
	height:100%;
	width:100%;

}
.interest{
	width:100%;
	height:auto;
	margin-top: 60px;
	display: block;
	text-align: center;
}
.container-3{
	display:flex;
	/*border:2px  solid red;*/
	padding:24px;
	justify-content:space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
   margin-top: 30px;
}
.content-3{
	height:auto;
    width:360px;
	margin-bottom: 40px;
	background-color:cadetblue;
	padding: 20px;
	transition:all 0.5s;
	overflow: auto;
}
.content-3:hover{
	transform:scale(1.13);
}
h3{
	font-size: 35px;
	line-height: 50px;
	color: black;
}
.content-4{
	height:auto;
    width:360px;
	margin-bottom: 40px;
	background-color: cadetblue;
	padding: 20px;
	transition:all 0.5s;
	overflow: auto;
}
footer{
	background-color: black;
	text-align: center;
	color:white;
}
.skills{
	text-align: center;
	margin-top: 40px;
}

.container-btn {
	align-items: center;
	display: flex;
	height: 60px;
	justify-content: center;
	position: relative;
	width: 360px;
  }
  .bar {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 32px;
	left: 0;
	padding: 0 21px;
	position: absolute;
	width: 100%;
  }
  .bar-purple {
	background: darkgoldenrod;
	
	color: white;
	clip-path: polygon(
	  360px 0,
	  360px 32px,
	  43px 32px,
	  39.775442px 31.67494px,
	  36.772078px 30.74264px,
	  34.054248px 29.26745px,
	  31.686292px 27.31371px,
	  29.732549px 24.94575px,
	  28.257359px 22.22792px,
	  27.325063px 19.22456px,
	  27px 16px,
	  27.325063px 12.77544px,
	  28.257359px 9.77208px,
	  29.732549px 7.05425px,
	  31.686292px 4.68629px,
	  34.054248px 2.73255px,
	  36.772078px 1.25736px,
	  39.775442px 0.32506px,
	  43px 0
	);
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .option {
	cursor: pointer;
	line-height: 142px;
	text-align: center;
	width: 33.33%;
  }
  .bar-outer {
	clip-path: polygon(0 0, 120px 0, 120px 32px, 0 32px);
	clip-path: polygon(
	  0 0,
	  0 32px,
	  104px 32px,
	  107.22456px 31.67494px,
	  110.22792px 30.74264px,
	  112.94575px 29.26745px,
	  115.31371px 27.31371px,
	  117.26745px 24.94575px,
	  118.74264px 22.22792px,
	  119.67494px 19.22456px,
	  120px 16px,
	  119.67494px 12.77544px,
	  118.74264px 9.77208px,
	  117.26745px 7.05425px,
	  115.31371px 4.68629px,
	  112.94575px 2.73255px,
	  110.22792px 1.25736px,
	  107.22456px 0.32506px,
	  104px 0
	);
	height: 32px;
	pointer-events: none;
	transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 100%;
  }
  .bar-outer.pos2 .bar-purple {
	clip-path: polygon(
	  360px 0,
	  360px 32px,
	  149px 32px,
	  145.775442px 31.67494px,
	  142.772078px 30.74264px,
	  140.054248px 29.26745px,
	  137.686292px 27.31371px,
	  135.732549px 24.94575px,
	  134.257359px 22.22792px,
	  133.325063px 19.22456px,
	  133px 16px,
	  133.325063px 12.77544px,
	  134.257359px 9.77208px,
	  135.732549px 7.05425px,
	  137.686292px 4.68629px,
	  140.054248px 2.73255px,
	  142.772078px 1.25736px,
	  145.775442px 0.32506px,
	  149px 0
	);
  }
  .bar-outer.pos2 {
	clip-path: polygon(
	  0 0,
	  0 32px,
	  210px 32px,
	  213.22456px 31.67494px,
	  216.22792px 30.74264px,
	  218.94575px 29.26745px,
	  221.31371px 27.31371px,
	  223.26745px 24.94575px,
	  224.74264px 22.22792px,
	  225.67494px 19.22456px,
	  226px 16px,
	  225.67494px 12.77544px,
	  224.74264px 9.77208px,
	  223.26745px 7.05425px,
	  221.31371px 4.68629px,
	  218.94575px 2.73255px,
	  216.22792px 1.25736px,
	  213.22456px 0.32506px,
	  210px 0
	);
  }
  .bar-outer.pos3 .bar-purple {
	clip-path: polygon(
	  360px 0,
	  360px 32px,
	  256px 32px,
	  252.775442px 31.67494px,
	  249.772078px 30.74264px,
	  247.054248px 29.26745px,
	  244.686292px 27.31371px,
	  242.732549px 24.94575px,
	  241.257359px 22.22792px,
	  240.325063px 19.22456px,
	  240px 16px,
	  240.325063px 12.77544px,
	  241.257359px 9.77208px,
	  242.732549px 7.05425px,
	  244.686292px 4.68629px,
	  247.054248px 2.73255px,
	  249.772078px 1.25736px,
	  252.775442px 0.32506px,
	  256px 0
	);
  }
  .bar-outer.pos3 {
	clip-path: polygon(0 0, 333px 0, 333px 32px, 0 32px);
	clip-path: polygon(
	  0 0,
	  0 32px,
	  317px 32px,
	  320.22456px 31.67494px,
	  323.22792px 30.74264px,
	  325.94575px 29.26745px,
	  328.31371px 27.31371px,
	  330.26745px 24.94575px,
	  331.74264px 22.22792px,
	  332.67494px 19.22456px,
	  333px 16px,
	  332.67494px 12.77544px,
	  331.74264px 9.77208px,
	  330.26745px 7.05425px,
	  328.31371px 4.68629px,
	  325.94575px 2.73255px,
	  323.22792px 1.25736px,
	  320.22456px 0.32506px,
	  317px 0
	);
  }
  .bar-outer.left .bar-purple {
	transition-delay: 0;
  }
  .bar-outer.left {
	transition-delay: 80ms;
  }
  .bar-outer.right .bar-purple {
	transition-delay: 80ms;
  }
  .bar-outer.right {
	transition-delay: 0;
  }
